/* vars */
html {
  height: 100%; }

body {
  min-height: 100%;
  height: 100%;
  background: #ffc69b;
  font-size: 13px;
  font-family: 'PT Serif', serif;
  color: #562b16;
  padding-top: 35px; }

/* helper classes */
.clearfix:before, .chess-blocks__row:before, .hover-menu .menu-blocks:before,
.clearfix:after,
.chess-blocks__row:after,
.hover-menu .menu-blocks:after {
  content: " ";
  display: table; }

.clearfix:after, .chess-blocks__row:after, .hover-menu .menu-blocks:after {
  clear: both; }

.clearfix, .chess-blocks__row, .hover-menu .menu-blocks {
  *zoom: 1; }

.abs-centered, .over-block span, .mpage-about .mpage-about__centered, .chess-blocks__row .chess-blocks__cell .chess-block__cell-inner, .hover-menu .menu-blocks .menu-blocks__entry .menu-blocks__over span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  text-decoration: none; }

.over-block-container {
  position: relative; }
  .over-block-container:hover .over-block {
    display: block; }

.over-block {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/wmenu/m-cover.png") center center repeat-x;
  line-height: 120%;
  display: none;
  text-decoration: none; }
  .over-block span {
    display: block; }

.txt-center, .chess-blocks__row .chess-blocks__cell, .hover-menu .menu-blocks .menu-blocks__entry .menu-blocks__over, .hover-menu .hover-menu__bottom, .breadcrumbs {
  text-align: center; }

.container {
  width: 1240px;
  margin: 0 auto; }

.list-unstyled, .main-navbar__list, .fredSel-wrap, .footer-nav__list, .breadcrumbs, .inner-menu .inner-menu__list {
  padding: 0;
  margin: 0;
  list-style: none; }

.gotham-text, .button, .modal .submit-trigger, .buy-button, .cart-order-button, .main-navbar__list li a, .fredSel-wrap .slider-caption .slider-caption__title, .footer-nav__list li a, h2, .chess-blocks__row .chess-blocks__cell .chess-blocks__over h2, .page__middle h1, .series__items-one, .inner-menu .inner-menu__list li a, .faq .faq-entry__question, .fav-block .fav-block__title, .steps-list li a {
  color: #562b16;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  font-family: 'GothamProRegular', sans-serif;
  letter-spacing: -1.5px;
  line-height: 120%; }

.button, .modal .submit-trigger, .buy-button, .cart-order-button {
  background: #562b16;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  padding: 0 32px;
  line-height: 50px;
  border: none;
  box-shadow: none;
  margin: 0; }

/* main styles */
.page {
  background: #ffffff;
  min-height: 100%;
  padding-top: 35px;
  overflow-x: hidden; }

.logo {
  text-align: center;
  margin-bottom: 44px; }

.main-navbar {
  padding: 0 35px; }

.hamburger-btn {
  float: left;
  margin-right: 35px; }

.search-btn {
  float: right;
  margin-left: 35px; }

.main-navbar__list {
  float: left; }
  .main-navbar__list > li {
    margin-bottom: 35px; }
    .main-navbar__list > li:hover {
      margin-bottom: 0;
      padding-bottom: 35px; }
  .main-navbar__list li {
    float: left;
    margin-left: 41px;
    position: relative; }
    .main-navbar__list li:first-child {
      margin-left: 0; }
    .main-navbar__list li.selected > a, .main-navbar__list li:hover > a {
      padding-bottom: 4px;
      border-bottom: 2px solid; }
    .main-navbar__list li:hover .hover-menu {
      display: block; }
    .main-navbar__list li a {
      font-size: 24px;
      line-height: 40px; }
    .main-navbar__list li:nth-child(2) .hover-menu {
      left: -214px; }
    .main-navbar__list li:nth-child(3) .hover-menu {
      left: -568px; }

.navbar-wrap {
  margin-bottom: 35px; }

.fredSel-wrap {
  height: 550px;
  overflow: hidden; }
  .fredSel-wrap li {
    width: 1240px;
    height: 550px;
    float: left;
    position: relative; }
    .fredSel-wrap li img {
      position: absolute; }
  .fredSel-wrap .slider-caption {
    position: absolute;
    z-index: 9;
    top: 128px;
    right: 160px;
    width: 300px;
    text-align: center; }
    .fredSel-wrap .slider-caption .slider-caption__title {
      font-size: 25px;
      margin-bottom: 35px; }
    .fredSel-wrap .slider-caption .slider-caption__reference {
      margin-bottom: 25px; }
    .fredSel-wrap .slider-caption .slider-caption__text {
      margin-bottom: 20px; }
    .fredSel-wrap .slider-caption .slider-caption__price {
      font-weight: bold; }

.mpage-slider {
  position: relative; }

.mpage-about {
  height: 550px;
  background: url("../img/legend-sign.png") center center no-repeat;
  text-align: center;
  position: relative; }
  .mpage-about .mpage-about__centered {
    width: 760px; }

.fredSel-wrap__pagination {
  position: absolute;
  width: 1240px;
  text-align: center;
  bottom: 35px; }
  .fredSel-wrap__pagination a {
    font-size: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #562b16;
    border-radius: 50%;
    margin-left: 28px;
    vertical-align: middle; }
    .fredSel-wrap__pagination a:first-child {
      margin-left: 0; }
    .fredSel-wrap__pagination a.selected {
      width: 20px;
      background: transparent;
      border: 2px solid #562b16;
      height: 20px; }

.page-footer {
  padding: 70px 0;
  text-align: center; }

.footer-nav {
  margin-bottom: 35px; }

.footer-nav__list li {
  display: inline-block;
  margin-left: 35px; }
  .footer-nav__list li:first-child {
    margin-left: 0; }
  .footer-nav__list li.selected > a, .footer-nav__list li:hover > a {
    padding-bottom: 2px;
    border-bottom: 2px solid; }
  .footer-nav__list li a {
    font-size: 18px; }

.footer-socials {
  margin-bottom: 35px; }

.footer-about {
  margin-bottom: 24px;
  padding: 0 315px; }

h2 {
  margin-top: 0;
  margin-bottom: 35px; }

p {
  margin-top: 0;
  margin-bottom: 25px; }

.chess-blocks__row .chess-blocks__cell {
  float: left;
  width: 50%;
  position: relative;
  height: 550px; }
  .chess-blocks__row .chess-blocks__cell a {
    display: none; }
  .chess-blocks__row .chess-blocks__cell:hover a {
    display: block; }
  .chess-blocks__row .chess-blocks__cell.card-holder {
    background: #f6f6f6;
    line-height: 550px;
    text-align: center; }
  .chess-blocks__row .chess-blocks__cell .chess-blocks__over {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../img/wmenu/m-cover.png") repeat;
    left: 0;
    top: 0;
    color: #ffffff; }
    .chess-blocks__row .chess-blocks__cell .chess-blocks__over h2 {
      color: #ffffff; }
    .chess-blocks__row .chess-blocks__cell .chess-blocks__over p {
      color: #ffffff; }

/* hover main menu styles */
.hover-menu {
  position: absolute;
  display: none;
  z-index: 10;
  top: 65px;
  left: -105px;
  width: 1240px;
  background: #ffffff;
  box-shadow: 2px 17px 23px -9px rgba(0, 0, 0, 0.31); }
  .hover-menu .menu-blocks .menu-blocks__entry {
    float: left;
    position: relative;
    width: 248px;
    height: 275px; }
    .hover-menu .menu-blocks .menu-blocks__entry:hover .menu-blocks__over {
      display: block; }
    .hover-menu .menu-blocks .menu-blocks__entry .menu-blocks__over {
      color: #ffffff;
      font-size: 18px;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: url("../img/wmenu/m-cover.png") center center repeat-x;
      line-height: 120%;
      display: none; }
      .hover-menu .menu-blocks .menu-blocks__entry .menu-blocks__over span {
        width: 100%; }
  .hover-menu .hover-menu__bottom {
    height: 105px; }
    .hover-menu .hover-menu__bottom a {
      font-size: 18px;
      line-height: 105px;
      margin-left: 35px; }
      .hover-menu .hover-menu__bottom a:hover {
        border-bottom: 1px solid; }
      .hover-menu .hover-menu__bottom a:first-child {
        margin-left: 0; }
      .hover-menu .hover-menu__bottom a.search-trigger {
        border: none; }

.page__middle {
  margin-top: -45px; }
  .page__middle h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 65px; }

.breadcrumbs {
  margin-bottom: 35px; }
  .breadcrumbs li {
    margin-left: 15px;
    display: inline-block; }
    .breadcrumbs li:first-child {
      margin-left: 0; }
    .breadcrumbs li a {
      color: #562b16;
      text-decoration: none; }

.collection__promo {
  height: 550px;
  position: relative;
  text-align: center; }

.series__row {
  padding: 55px 0 0;
  border-bottom: 1px solid #f6f6f6;
  text-align: center; }
  .series__row:last-child, .series__row.expanded-items {
    border: none; }
  .series__row .series__expand {
    margin-bottom: 55px; }
  .series__row .series__items {
    display: none; }

.series__items-one {
  float: left;
  width: 310px;
  height: 275px;
  font-size: 18px; }
  .series__items-one.series__items-one--state_current {
    opacity: 0.2; }
    .series__items-one.series__items-one--state_current .over-block {
      display: none !important; }

.inner-menu {
  text-align: center;
  margin-bottom: 65px; }
  .inner-menu .inner-menu__list li {
    display: inline-block;
    margin-left: 35px; }
    .inner-menu .inner-menu__list li:first-child {
      margin-left: 0; }
    .inner-menu .inner-menu__list li a {
      font-size: 18px;
      padding-bottom: 2px; }
    .inner-menu .inner-menu__list li.selected a, .inner-menu .inner-menu__list li:hover a {
      border-bottom: 2px solid; }

.inner-page-picture {
  width: 100%;
  background: #f6f6f6;
  text-align: center;
  height: 550px;
  line-height: 550px; }
  .inner-page-picture img {
    max-width: 100%;
    margin-left: 15px; }
    .inner-page-picture img:first-child {
      margin-left: 0; }

.history-slider {
  position: relative;
  background: #f6f6f6;
  text-align: center; }
  .history-slider .fotorama__nav-wrap {
    position: absolute;
    bottom: 30px; }
    .history-slider .fotorama__nav-wrap .fotorama__nav__frame--dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      overflow: hidden;
      background: #FFFFFF;
      margin-left: 25px; }
      .history-slider .fotorama__nav-wrap .fotorama__nav__frame--dot:first-child {
        margin-left: 0; }
      .history-slider .fotorama__nav-wrap .fotorama__nav__frame--dot.fotorama__active {
        width: 20px;
        height: 20px;
        border: 2px solid #FFFFFF;
        background: transparent; }
      .history-slider .fotorama__nav-wrap .fotorama__nav__frame--dot .fotorama__dot {
        display: none; }

.faq {
  text-align: center;
  width: 940px;
  margin: 0 auto; }
  .faq .faq-entry {
    padding-bottom: 20px; }
  .faq .faq-entry__question {
    font-size: 18px;
    margin-bottom: 33px;
    display: inline-block; }
  .faq .faq-entry__answer {
    display: none;
    margin-bottom: 30px; }
    .faq .faq-entry__answer p {
      margin-bottom: 20px; }

.mpage-about.show-room__about {
  background: transparent; }

.show-room__details span {
  margin-left: 15px; }
  .show-room__details span:first-child {
    margin-left: 0; }

.show-room__contacts {
  margin-top: 35px; }
  .show-room__contacts a {
    display: inline-block;
    text-align: center;
    color: #562b16;
    text-decoration: none;
    margin-left: 70px; }
    .show-room__contacts a:first-child {
      margin-left: 0; }
    .show-room__contacts a span {
      display: block;
      text-align: center;
      margin-top: 10px; }

.google-map {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20; }

.close-button {
  width: 50px;
  height: 50px;
  display: block;
  background: url("../img/close.png") center center no-repeat;
  font-size: 0; }

.show-room .close-button {
  position: absolute;
  z-index: 30;
  display: none;
  right: 35px;
  top: 35px; }

.modal {
  display: none; }
  .modal .form-input {
    text-align: left; }
  .modal h2 {
    text-align: center; }
  .modal .instruction-form {
    text-align: center; }
    .modal .instruction-form .form-group {
      text-align: left; }
  .modal .submit-trigger {
    margin: 35px auto 0; }
  .modal .form-group {
    margin-bottom: 35px; }
  .modal .show-room__contacts {
    text-align: center;
    margin-top: 70px; }

.fancybox-close {
  background: url("../img/close.png") center center no-repeat;
  width: 50px;
  height: 50px; }

.fancybox-skin {
  border-radius: 0 !important;
  background: white; }

.search-select .jq-selectbox__dropdown ul {
  max-height: 100px; }

input:focus {
  outline: none; }

::-webkit-input-placeholder {
  text-align: left; }

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: left; }

:-ms-input-placeholder {
  text-align: left; }

:-moz-placeholder {
  /* Firefox 18- */
  text-align: left; }

/* watch detail */
.already-icon {
  display: none; }

.watch-detail {
  padding-top: 35px;
  text-align: center; }
  .watch-detail .watch-price {
    font-weight: bold; }
  .watch-detail .watch-actions__fav.watch-actions__fav--state_already img,
  .watch-detail .watch-actions__buy.watch-actions__buy--state_already img {
    display: none; }
  .watch-detail .watch-actions__fav.watch-actions__fav--state_already img.already-icon,
  .watch-detail .watch-actions__buy.watch-actions__buy--state_already img.already-icon {
    display: inline-block; }

.params-selector {
  text-align: center;
  margin-bottom: 70px; }
  .params-selector .params-selector__col {
    display: inline-block;
    margin-left: 70px; }
    .params-selector .params-selector__col:first-child {
      margin-left: 0; }
    .params-selector .params-selector__col .params-selector__link {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 25px; }
      .params-selector .params-selector__col .params-selector__link:first-child {
        margin-left: 0; }
      .params-selector .params-selector__col .params-selector__link.params-selector__link--state_selected {
        opacity: 0.2; }

.watch-big-picture {
  margin: 70px 0; }

.watch-actions {
  margin-bottom: 70px; }

.watch-sizes span {
  display: inline-block;
  padding-left: 28px;
  height: 20px;
  line-height: 20px; }
  .watch-sizes span.watch-sizes__height {
    background: url(../img/height-icon.png) left center no-repeat; }
  .watch-sizes span.watch-sizes__width {
    background: url(../img/width-icon.png) left center no-repeat;
    margin-left: 20px; }

.watch-info {
  padding: 75px 0;
  border-top: 1px solid #f6f6f6;
  border-bottom: 1px solid #f6f6f6; }

.buy-block {
  margin-top: 85px;
  margin-bottom: 85px; }

.buy-button {
  vertical-align: middle; }

.some-promo-text {
  margin-bottom: 35px; }

.fixed-right {
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 35; }

.fav-opener, .cart-opener {
  display: block; }

/* tmp styles */
.fav-opener, .cart-opener {
  display: none; }

.fav-block {
  position: absolute;
  right: -620px; }

/* end tmp styles */
.fav-block {
  width: 620px;
  background: #FFFFFF;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center; }
  .fav-block .fav-block__title {
    font-size: 24px;
    height: 160px;
    line-height: 160px;
    background: url("../img/fix-arr.png") right center no-repeat;
    background-position: right 50px center;
    cursor: pointer; }
  .fav-block .watch-actions {
    margin-top: 70px; }

.cart-actions {
  margin: 70px 0; }

.cart-order-button {
  margin-bottom: 35px; }

.cart-clear-button {
  color: #cccccc;
  font-size: 13px;
  text-decoration: none;
  display: block;
  text-align: center; }

.sel-wrap-col1 {
  width: 205px; }
  .sel-wrap-col1 .jqselect {
    width: 100%; }

.sel-wrap-col2 {
  margin: 0 15px;
  width: 240px; }
  .sel-wrap-col2 .jqselect {
    width: 100%; }

.sel-wrap-cols {
  width: 610px;
  margin: 0 auto;
  margin-bottom: 86px; }

.buy-block .form-col-margin {
  margin-left: 35px; }
.buy-block .jq-selectbox__select {
  background: #FFF;
  box-shadow: none;
  border: 2px solid #562b16;
  height: 50px;
  border-radius: 0;
  line-height: 46px; }
  .buy-block .jq-selectbox__select:hover {
    background: #FFF; }
.buy-block .jq-selectbox__trigger {
  border-left: 0; }
.buy-block .jq-selectbox__trigger-arrow {
  border: 0;
  width: 14px;
  height: 8px;
  top: 20px;
  opacity: 1;
  background: url("../img/arrdown.png"); }
.buy-block .jq-selectbox.focused .jq-selectbox__select {
  border: 2px solid #562b16; }
.buy-block .jq-selectbox__dropdown {
  top: 50px;
  border-radius: 0;
  box-shadow: none; }
.buy-block .jq-selectbox li.selected {
  background: #FFF;
  color: #000; }
.buy-block .jq-selectbox__select-text {
  font-size: 13px;
  color: #562b16;
  font-family: 'PT Serif', serif; }

.size-selects .jq-selectbox {
  margin-right: 12px; }

.steps-list {
  margin-bottom: 60px; }
  .steps-list li:hover {
    border-bottom: 2px solid #562b16; }
  .steps-list li.disabled-step:hover {
    border: none; }
  .steps-list li a {
    font-size: 18px;
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h2.order-title {
  padding-top: 35px;
  padding-bottom: 35px; }

.cart-items {
  margin-bottom: 100px; }
  .cart-items .cart-items__table {
    width: 100%; }
    .cart-items .cart-items__table .cart-item__pic {
      width: 310px; }
    .cart-items .cart-items__table .cart-item__info {
      width: 570px;
      padding-left: 70px;
      text-align: left; }
    .cart-items .cart-items__table .cart-item__quantity {
      width: 100px;
      text-align: center; }
      .cart-items .cart-items__table .cart-item__quantity .quantity .quantity__input {
        width: 100px;
        height: 50px;
        border: 2px solid #562b16;
        text-align: center;
        line-height: 50px;
        margin: 22px 0; }
    .cart-items .cart-items__table .cart-item__delete {
      text-align: center; }

.cases-big-pic {
  height: 550px;
  width: 1240px;
  overflow: hidden; }

.case-blocks .case-l {
  margin-right: 5px; }
  .case-blocks .case-l.ico-margin {
    margin-left: 20px; }
  .case-blocks .case-l img {
    vertical-align: middle; }

/*# sourceMappingURL=app.css.map */