/* vars */
$bgColor: #ffc69b;
$textColor: #562b16;
$lightGrey: #f6f6f6;


html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  background: $bgColor;
  font-size: 13px;
  font-family: 'PT Serif', serif;
  color: $textColor;
  padding-top: 35px;
}

/* helper classes */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.abs-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;
  text-decoration: none;
}

.over-block-container {
  position: relative;

  &:hover {
    .over-block {
      display: block;
    }
  }
}

.over-block {
  color: #ffffff;
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/wmenu/m-cover.png") center center repeat-x;
  line-height: 120%;
  display: none;
  text-decoration: none;

  span {
    display: block;
    @extend .abs-centered;
  }
}

.txt-center {
  text-align: center;
}

.container {
  width: 1240px;
  margin: 0 auto;
}

.wrapper {

}

.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

.gotham-text {
  color: $textColor;
  text-transform: uppercase;
  font-size: 25px;
  text-decoration: none;
  font-family: 'GothamProRegular', sans-serif;
  letter-spacing: -1.5px;
  line-height: 120%;
}

.button {
  @extend .gotham-text;
  background: $textColor;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  height: 50px;
  padding: 0 32px;
  line-height: 50px;
  border: none;
  box-shadow: none;
  margin: 0;
}

/* main styles */

.page {
  background: #ffffff;
  min-height: 100%;
  padding-top: 35px;
  overflow-x: hidden;
}

.logo {
  text-align: center;
  margin-bottom: 44px;
}

.main-navbar {
  padding: 0 35px;
}

.hamburger-btn {
  float: left;
  margin-right: 35px;
}

.search-btn {
  float: right;
  margin-left: 35px;
}

.main-navbar__list {
  @extend .list-unstyled;
  float: left;

  > li {
    margin-bottom: 35px;

    &:hover {
      margin-bottom: 0;
      padding-bottom: 35px;
    }
  }

  li {
    float: left;
    margin-left: 41px;
    position: relative;

    &:first-child {
      margin-left: 0;
    }

    &.selected, &:hover {
      > a {
        padding-bottom: 4px;
        border-bottom: 2px solid;
      }
    }

    &:hover {
      .hover-menu {
        display: block;
      }
    }

    a {
      @extend .gotham-text;
      font-size: 24px;
      line-height: 40px;

    }

    &:nth-child(2){
      .hover-menu {
        left: -214px;
      }
    }

    &:nth-child(3){
      .hover-menu {
        left: -568px;
      }
    }
  }
}

.navbar-wrap {
  margin-bottom: 35px;
}

.fredSel-wrap  {
  @extend .list-unstyled;
  height: 550px;
  overflow: hidden;

  li {
    width: 1240px;
    height: 550px;
    float: left;
    position: relative;

    img {
      position: absolute;
    }
  }

  .slider-caption {
    position: absolute;
    z-index: 9;
    top: 128px;
    right: 160px;
    width: 300px;
    text-align: center;

    .slider-caption__title {
      @extend .gotham-text;
      font-size: 25px;
      margin-bottom: 35px;

    }

    .slider-caption__reference {
      margin-bottom: 25px;
    }

    .slider-caption__text {
      margin-bottom: 20px;
    }

    .slider-caption__price {
      font-weight: bold;
    }
  }
}

.mpage-slider {
  position: relative;
}

.mpage-about {
  height: 550px;
  background: url("../img/legend-sign.png") center center no-repeat;
  text-align: center;
  position: relative;

  .mpage-about__centered {
    width: 760px;
    @extend .abs-centered;
  }
}

.fredSel-wrap__pagination {
  position: absolute;
  width: 1240px;
  text-align: center;
  bottom: 35px;

  a {
    font-size: 0;
    display: inline-block;
    width: 10px;
    height: 10px;
    background: $textColor;
    border-radius: 50%;
    margin-left: 28px;
    vertical-align: middle;

    &:first-child {
      margin-left: 0;
    }

    &.selected {
      width: 20px;
      background: transparent;
      border: 2px solid $textColor;
      height: 20px;
    }
  }
}

.page-footer {
  padding: 70px 0;
  text-align: center;
}

.footer-nav {
  margin-bottom: 35px;
}

.footer-nav__list {
  @extend .list-unstyled;

  li {
    display: inline-block;
    margin-left: 35px;

    &:first-child {
      margin-left: 0;
    }

    &.selected, &:hover {
      > a {
        padding-bottom: 2px;
        border-bottom: 2px solid;
      }
    }

    a {
      @extend .gotham-text;
      font-size: 18px;
    }
  }
}

.footer-socials {
  margin-bottom: 35px;
}

.footer-about {
  margin-bottom: 24px;
  padding: 0 315px;
}


h2 {
  @extend .gotham-text;
  margin-top: 0;
  margin-bottom: 35px;
}

p {
  margin-top: 0;
  margin-bottom: 25px;
}

.chess-blocks__row {
  @extend .clearfix;

  .chess-blocks__cell {
    @extend .txt-center;
    float: left;
    width: 50%;
    position: relative;
    height: 550px;

    a {
      display: none;
    }

    &:hover {
      a {
        display: block;
      }
    }

    &.card-holder {
      background: $lightGrey;
      line-height: 550px;
      text-align: center;
    }

    .chess-blocks__over {
      position: absolute;
      width: 100%;
      height: 100%;
      background: url("../img/wmenu/m-cover.png") repeat;
      left: 0;
      top: 0;
      color: #ffffff;

      h2 {
        color: #ffffff;
        @extend .gotham-text;
      }

      p {
        color: #ffffff;
      }
    }

    .chess-block__cell-inner {
      @extend .abs-centered;
    }
  }

}

/* hover main menu styles */

.hover-menu {
  position: absolute;
  display: none;
  z-index: 10;
  top: 65px;
  left: -105px;
  width: 1240px;
  background: #ffffff;
  -webkit-box-shadow: 2px 17px 23px -9px rgba(0,0,0,0.31);
  -moz-box-shadow: 2px 17px 23px -9px rgba(0,0,0,0.31);
  box-shadow: 2px 17px 23px -9px rgba(0,0,0,0.31);


  .menu-blocks {
    @extend .clearfix;

    .menu-blocks__entry {
      float: left;
      position: relative;
      width: 248px;
      height: 275px;

      &:hover .menu-blocks__over {
        display: block;
      }

      .menu-blocks__over {
        @extend .txt-center;
        color: #ffffff;
        font-size: 18px;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url("../img/wmenu/m-cover.png") center center repeat-x;
        line-height: 120%;
        display: none;

        span {
          @extend .abs-centered;
          width: 100%;
        }
      }
    }
  }

  .hover-menu__bottom {
    height: 105px;
    @extend .txt-center;

    a {
      font-size: 18px;
      line-height: 105px;
      margin-left: 35px;

      &:hover {
        border-bottom: 1px solid;
      }

      &:first-child {
        margin-left: 0;
      }

      &.search-trigger {
        border: none;
      }
    }
  }
}

.page__middle {
  margin-top: -45px;

  h1 {
    @extend .gotham-text;
    font-weight: normal;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 65px;
  }
}

.breadcrumbs {
  @extend .list-unstyled;
  @extend .txt-center;

  margin-bottom: 35px;

  li {
    margin-left: 15px;
    display: inline-block;

    &:first-child {
      margin-left: 0;
    }

    a {
      color: $textColor;
      text-decoration: none;
    }
  }
}

h2 {
  @extend .gotham-text;
}

.collection__promo {
  height: 550px;
  position: relative;
  text-align: center;
}

.series__row {
  padding: 55px 0 0;
  border-bottom: 1px solid $lightGrey;
  text-align: center;

  &:last-child, &.expanded-items {
    border: none;
  }

  .series__expand {
    margin-bottom: 55px;
  }

  .series__items {
    display: none;
  }
}



.series__items-one {
  float: left;
  width: 310px;
  height: 275px;
  @extend .gotham-text;
  font-size: 18px;

  &.series__items-one--state_current {
    opacity: 0.2;

    .over-block {
      display: none !important;
    }
  }
}

.inner-menu {
  text-align: center;
  margin-bottom: 65px;

  .inner-menu__list {
    @extend .list-unstyled;

    li {
      display: inline-block;
      margin-left: 35px;

      &:first-child {
        margin-left: 0;
      }

      a {
        @extend .gotham-text;
        font-size: 18px;
        padding-bottom: 2px;
      }

      &.selected a, &:hover a {
        border-bottom: 2px solid;
      }
    }
  }
}

.inner-page-picture {
  width: 100%;
  background: $lightGrey;
  text-align: center;
  height: 550px;
  line-height: 550px;

  img {
    max-width: 100%;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.history-slider {
  position: relative;
  background: $lightGrey;
  text-align: center;

  img {

  }

  .fotorama__nav-wrap {
    position: absolute;
    bottom: 30px;

    .fotorama__nav__frame--dot {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      overflow: hidden;
      background: #FFFFFF;
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }

      &.fotorama__active {
        width: 20px;
        height: 20px;
        border: 2px solid #FFFFFF;
        background: transparent;
      }

      .fotorama__dot {
        display: none;
      }
    }
  }
}

.faq {
  text-align: center;
  width: 940px;
  margin: 0 auto;

  .faq-entry {
    padding-bottom: 20px;
  }

  .faq-entry__question {
    @extend .gotham-text;
    font-size: 18px;
    margin-bottom: 33px;
    display: inline-block;

    &:hover {
    }
  }

  .faq-entry__answer {
    display: none;
    margin-bottom: 30px;

    p {
      margin-bottom: 20px;
    }
  }
}

.mpage-about.show-room__about {
  background: transparent;
}

.show-room__details {
  span {
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.show-room__contacts {
  margin-top: 35px;

  a {
    display: inline-block;
    text-align: center;
    color: $textColor;
    text-decoration: none;
    margin-left: 70px;

    &:first-child {
      margin-left: 0;
    }

    span {
      display: block;
      text-align: center;
      margin-top: 10px;
    }
  }
}

.google-map {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 20;
}

.close-button {
  width: 50px;
  height: 50px;
  display: block;
  background: url('../img/close.png') center center no-repeat;
  font-size: 0;
}

.show-room .close-button{
  position: absolute;
  z-index: 30;
  display: none;
  right: 35px;
  top: 35px;
}

.modal {
  display: none;

  .form-input {
    text-align: left;
  }

  h2 {
    text-align: center;
  }

  .instruction-form {
    text-align: center;

    .form-group {
      text-align: left;
    }
  }

  .submit-trigger {
    @extend .button;
    margin: 35px auto 0;
  }

  .form-group {
    margin-bottom: 35px;
  }

  .show-room__contacts {
    text-align: center;
    margin-top: 70px;
  }
}

.fancybox-close {
  background: url("../img/close.png") center center no-repeat;
  width: 50px;
  height: 50px;
}

.fancybox-skin {
  border-radius: 0 !important;
  background: white;
}

.search-select .jq-selectbox__dropdown ul {
  max-height: 100px;
}

input:focus {
  outline: none;

}

::-webkit-input-placeholder {
  text-align: left;
}
::-moz-placeholder { /* Firefox 19+ */
  text-align: left;
}
:-ms-input-placeholder {
  text-align: left;
}
:-moz-placeholder { /* Firefox 18- */
  text-align: left;
}

/* watch detail */

.already-icon {
  display: none;
}

.watch-detail {
  padding-top: 35px;
  text-align: center;

  .watch-price {
    font-weight: bold;
  }

  .watch-actions__fav.watch-actions__fav--state_already,
  .watch-actions__buy.watch-actions__buy--state_already
  {
    img {
      display: none;
    }

    img.already-icon {
      display: inline-block;
    }
  }
}

.params-selector {
  text-align: center;
  margin-bottom: 70px;

  .params-selector__col {
    display: inline-block;
    margin-left: 70px;

    &:first-child {
      margin-left: 0;
    }

    .params-selector__link {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      margin-left: 25px;

      &:first-child {
        margin-left: 0;
      }

      &.params-selector__link--state_selected {
        opacity: 0.2;
      }
    }
  }
}

.watch-big-picture {
  margin: 70px 0;
}

.watch-actions {
  margin-bottom: 70px;
}

.watch-sizes {
  span {
    display: inline-block;
    padding-left: 28px;
    height: 20px;
    line-height: 20px;

    &.watch-sizes__height {
      background: url(../img/height-icon.png) left center no-repeat;
    }

    &.watch-sizes__width {
      background: url(../img/width-icon.png) left center no-repeat;
      margin-left: 20px;
    }
  }
}

.watch-info {
  padding: 75px 0;
  border-top: 1px solid $lightGrey;
  border-bottom: 1px solid $lightGrey;

}

.buy-block {
  margin-top: 85px;
  margin-bottom: 85px;
}

.buy-button {
  @extend .button;
  vertical-align: middle;
}

.some-promo-text {
  margin-bottom: 35px;
}

.fixed-right {
  position: fixed;
  right: 0;
  top: 10%;
  z-index: 35;
}

.fav-opener, .cart-opener {
  display: block;
}

/* tmp styles */

.fav-opener, .cart-opener {
  display: none;
}

.fav-block {
  position: absolute;
  right: -620px;
}

/* end tmp styles */

.fav-block {
  width: 620px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  text-align: center;

  .fav-block__title {
    @extend .gotham-text;
    font-size: 24px;
    height: 160px;
    line-height: 160px;
    background: url("../img/fix-arr.png") right center no-repeat;
    background-position: right 50px center;
    cursor: pointer;
  }

  .watch-actions {
    margin-top: 70px;
  }
}

.cart-actions {
  margin: 70px 0;
}

.cart-order-button {
  @extend .button;
  margin-bottom: 35px;
}

.cart-clear-button {
  color: #cccccc;
  font-size: 13px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.sel-wrap-col1 {
  width: 205px;
  .jqselect {
    width: 100%;
  }
}

.sel-wrap-col2 {
  margin: 0 15px;
  width: 240px;
  .jqselect {
    width: 100%;
  }
}

.sel-wrap-cols {
  width: 610px;
  margin: 0 auto;
  margin-bottom: 86px;
}

.buy-block {
  .form-col-margin {
    margin-left: 35px;
  }

  .jq-selectbox__select {
    background: #FFF;
    box-shadow: none;
    border: 2px solid #562b16;
    height: 50px;
    border-radius: 0;
    line-height: 46px;
    &:hover {
      background: #FFF;
    }
  }

  .jq-selectbox__trigger {
    border-left: 0;
  }

  .jq-selectbox__trigger-arrow {
    border: 0;
    width: 14px;
    height: 8px;
    top: 20px;
    opacity: 1;
    background: url("../img/arrdown.png");
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 2px solid #562b16;
  }

  .jq-selectbox__dropdown {
    top: 50px;
    border-radius: 0;
    box-shadow: none;
  }

  .jq-selectbox li.selected {
    background: #FFF;
    color: #000;
  }

  .jq-selectbox__select-text {
    font-size: 13px;
    color: #562b16;
    font-family: 'PT Serif', serif;
  }
}

.size-selects {
  .jq-selectbox {
    margin-right: 12px;

  }
}

.steps-list {
  li {
    &:hover {
      border-bottom: 2px solid $textColor;
    }

    &.disabled-step:hover {
      border: none;
    }

    a {
      @extend .gotham-text;
      font-size: 18px;
      text-decoration: none;
    }
  }

  margin-bottom: 60px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

h2.order-title {
  padding-top: 35px;
  padding-bottom: 35px;
}

.cart-items {
  margin-bottom: 100px;

  .cart-items__table {
    width: 100%;

    .cart-item__pic {
      width: 310px;
    }

    .cart-item__info {
      width: 570px;
      padding-left: 70px;
      text-align: left;
    }

    .cart-item__quantity {
      width: 100px;
      text-align: center;

      .quantity {
        .quantity__input {
          width: 100px;
          height: 50px;
          border: 2px solid $textColor;
          text-align: center;
          line-height: 50px;
          margin: 22px 0;
        }
      }
    }

    .cart-item__delete {
      text-align: center;
    }
  }
}

.cases-big-pic {
  height: 550px;
  width: 1240px;
  overflow: hidden;
}

.case-blocks {
  .case-l {
    margin-right: 5px;

    &.ico-margin {
      margin-left: 20px;
    }

    img {
      vertical-align: middle;
    }
  }



}