.text-center {
  text-align: center;
}

.steps-list {
  text-align: center;
  li {
    display: inline-block;
    margin: 0 10px;
  }
}

.steps-list {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'GothamProRegular', sans-serif;

}

.form-col {
  width: 447px;
}

.forms-container {
  width: 962px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 37px;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.form-input {
  width: 100%;
  border: 2px solid #562b16;
  padding: 0 10px;
  height: 50px;
  &::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #cccccc;
    text-align: center;
  }
  &:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #cccccc;
    opacity: 1;
    text-align: center;
  }
  &::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #cccccc;
    opacity: 1;
    text-align: center;
  }
  &:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #cccccc;
    text-align: center;
  }
}

.form-label {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'GothamProRegular', sans-serif;
  margin-bottom: 16px;
}

.input-form-size1 {
  width: 100px;
}

.input-form-size2 {
  width: 310px;
}

.active-step {
  border-bottom: 2px solid #562b16;
  &+li {
    color: #cccccc;
  }
  &+li+li {
    color: #cccccc;
  }
}

.form-group {
  margin-bottom: 28px;
  .jqselect {
    width: 100%;
  }
}

.addr-form-col1 {
  width: 100px;
}

.addr-form-col2 {
  width: 175px;
}

.form-col-margin {
  margin-left: 35px;
}

.jq-selectbox__select {
  background: #FFF;
  box-shadow: none;
  border: 2px solid #562b16;
  height: 50px;
  border-radius: 0;
  line-height: 46px;
  &:hover {
    background: #FFF;
  }
}

.jq-selectbox__trigger {
  border-left: 0;
}

.jq-selectbox__trigger-arrow {
  border: 0;
  width: 14px;
  height: 8px;
  top: 20px;
  opacity: 1;
  background: url("../img/arrdown.png");
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 2px solid #562b16;
}

.jq-selectbox__dropdown {
  top: 50px;
  border-radius: 0;
  box-shadow: none;
}

.jq-selectbox li.selected {
  background: #FFF;
  color: #000;
}

.jq-selectbox__select-text {
  font-size: 13px;
  color: #562b16;
  font-family: 'PT Serif', serif;
}

.divider-slash {
  margin-top: 9px; margin-left: 10px; margin-right: 10px;
}

.addr-col-list {
  .addr-form-col1 {
    &+.addr-form-col1 {
      margin-left: 15px;
    }
  }
}


.legend-sign-wrap {
  background: url("../img/legend-sign.png") no-repeat scroll center center rgba(0, 0, 0, 0);
  min-height: 500px;
  padding: 150px 0;
}

.active-opacity {
  opacity: 0.2;
}

.size-ico {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: url("../img/size.png");
}

.ico-margin {
  margin-right: 10px;
}

.series-row-default {
  padding: 0;
  border: 0;
}

.sp-fbox {
  width: 1030px;
  display: none;
}

.sp-heading {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'GothamProRegular', sans-serif;
  margin-bottom: 20px;
}

.jq-checkbox {
  margin-right: 14px;
  border-radius: 0;
  width: 50px;
  height: 50px;
  background: url("../img/check.jpg") top left no-repeat;
  border: 0;
  box-shadow: none;
  &.checked {
    background: url("../img/check.jpg") bottom left no-repeat;
  }
}

.jq-checkbox__div {
  display: none !important;
}

.check-list {
  li {
    display: inline-block;
    width: 49%;
    margin-bottom: 25px;
  }
}

.check-col-1 {
  width: 472px;
  margin-left: 30px;

  &:first-child {
    margin-left: 0;
  }
}

.check-col-2 {
  width: 235px;
}

.check-col-3 {
  width: 228px;
}

.check-col-4 {
  margin-left: 30px;
}

.check-list-default {
  li {
    display: block !important;
    width: auto !important;
  }
}

.box-img {
  background: url("../img/box.jpg");
  width: 378px;
  height: 197px;
  position: relative;
}

.input-box {
  text-align: center;
  padding: 0;
  background: url("../img/check.jpg") top left no-repeat;
  width: 50px;
  height: 50px;
  border: 0;
}

.input-box-pos1 {
  position: absolute;
  top: 40px; left: 46px;
}

.input-box-pos2 {
  position: absolute;
  left: 111px; top: 40px;
}

.after-input-pos {
  position: absolute;
  top: 101px; left: 46px;
}

.text-notice {
  margin-top: 38px; margin-bottom: 31px;
}






















